.vaultdoor {
    display: block;
    margin: 0 auto;
    max-width: 750px;
    max-height: 300px;
    border: 1px solid;
    box-shadow: 8px 8px rgb(255,240,131);
}

.livingroom {
    display: block;
    margin: 0 auto;
    max-width: 750px;
    max-height: 300px;
    border: 1px solid;
    box-shadow: 8px 8px rgb(255,240,131);
}

.galleryrow {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
  }

.gallerycolumn {
    flex: 25%;
    max-width: 50%;
    padding: 0 4px;
    margin: 0 auto;
  }
  
.gallerycolumn img {
    margin-top: 10px;
    width: 100%;
  }

  .amenities {
    border: 1px solid;
    box-shadow: 2px 8px rgb(255,240,131);
  }

  @media screen and (max-width: 500px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }